<!DOCTYPE html>
<html>
<head>
    <title>Welcome to MovieSearch</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="flex-search">
<h1>{{ name }}, welcome to MovieSearch</h1>
<img src="{{ url_for('static',filename='movie.JPG') }}" alt="MovieSearch">
<form class="signout" method="post">
<input type="submit" name="signout" value="Sign Out">
</form>

<input id="search-box" class="search" type="text" name="search_text" placeholder="Search.." />
<button id="favorites" type="button" onclick="showFavorites()">Favorites</button>

{% if sub_one(request.args.get('page', '1')) != request.args.get('page', '1') %}
<strong><a href="{{ url_for('index', page=sub_one(request.args.get('page', '1')), q=request.args.get('q', ''), favorites=request.args.get('favorites', 'false')) }}">Previous</a></strong>
{% endif %}
{% if add_one(request.args.get('page', '1'), full_length ) != request.args.get('page', '1') %}
<strong><a href="{{ url_for('index', page=add_one(request.args.get('page', '1'), full_length ), q=request.args.get('q', ''), favorites=request.args.get('favorites', 'false')) }}">Next</a></strong>
{% endif %}
<ol start="{{ (int(request.args.get('page', '1'))-1)*PAGE_SIZE+1 }}">
    {% for movie in movies %}
        {% if isinstance(movie, Response) %}
            <li style="background-color: white; color: black;" id={i}>
                <article>
                    <h1 style="text-align: start;"><a target="_blank" href="{{ url_for('item') + '?id=' + movie._id }}" rel="external">{{ movie._source.title + " " + movie._source.year }}</a></h1>
                    <p style="display: flex;"><img src="{{ movie._source.image }}"/><div style="vertical-align: top; padding: 8px; ">{{ movie._source.description }}</div></p>
                </article>
            </li>
        {% else %}
            <li style="background-color: white; color: black;" id={i}>
                <article>
                    <h1 style="text-align: start;"><a target="_blank" href="{{ url_for('item') + '?id=' + str(movie._id) }}" rel="external">{{ movie.title + " " + movie.year }}</a></h1>
                    <p style="display: flex;"><img src="{{ movie.image }}"/><div style="vertical-align: top; padding: 8px; ">{{ movie.description }}</div></p>
                </article>
            </li>
        {% endif %}
    {% endfor %}
</ol>

</div>
<script>
    $('#search-box').keypress(function (e) {
        if (e.which === 13) {
            window.location.href = "{{ url_for('index') }}?q=" + $('#search-box').val()
        }
    })

    function showFavorites() {
        window.location.href = "{{ url_for('index') }}?favorites=true"
    }
    {% if request.args.get('q') %}
        $('#search-box').val("{{ request.args.get('q') }}")
    {% endif %}
</script>
</body>
</html>