.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(45deg, #2e4466 0%, #afc1e0 100%);
    color: white;
}

form {
    border: 3px solid #000000;
    margin: 20px;
    padding: 8px;
}

.title {
    text-align: center;
}

input[type=text], input[type=password] {

}